*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#produtosg{
    width: 100vw;
    text-align: center;
    background-color: rgba(109, 42, 42, 0.1);
}

.tema{
    height: 100px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(36, 27, 1);
}

.tema1{
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

p{
    font-size: 1.5em;
}

.container {
    width: 95%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 15px;
    /* grid-template-rows: 400px; 
    grid-auto-rows: 500px; */ 
}
  
.item {
    text-align: center;
    padding: 10px;
}

figcaption{
    background-color: rgba(0, 128, 0,0.2); 
    margin: 0 auto;
    width: 100%;
    /* float: right; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 15px 15px;
    padding: 8px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;

}

figcaption:hover{
    background-color: rgba(137, 209, 137, 0.7); 
}

.imgp{
    height: 300px;
    width: 100%;
    border-radius: 15px 15px 0 0;
    border: 1px solid black;
}

.click{
    height: 50px;
}

.voltar{
    text-decoration: none;
    font-size: 1.5em;
    color: brown;
}

footer{
    text-align: center;
    font-size: 0.7em;
}


@media screen and (max-width: 768px) {

    #produtosg{
        width: 100vw;
        padding: 0 25px 0 0;

    }

    .tema{
        height: 150px;
        padding: 30px;
        width: 100%;
        margin: auto;
        text-align: center;
        padding-top: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(36, 27, 1);
    }
    
    .tema1{
        font-size: 2em;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        margin: 5px;
    }
    
    p{
        font-size: 1.3em;
    }

    .container {
        display: block;
        width: 100%;
    }
      
    .item {
        text-align: center;
    }
    
    figcaption{
        font-size: 0.9em;
        background-color: rgba(0, 128, 0,0.2); 
        margin: 0 auto;
        width: 80%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0 0 15px 15px;
        padding: 8px 0 0 0;
    }
    
    figcaption:hover{
        background-color: rgba(137, 209, 137, 0.7); 
    }
    
    .imgp{
        height: 300px;
        width: 90%;
        border-radius: 15px 15px 0 0;
        border: 1px solid black;
        /* margin: 10px 0 0 0; */
    }

    .click{
        width: 100%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        height: 100px;
    }

    .voltar{
        text-decoration: none;
        color: rgb(177, 46, 46);
        text-decoration:underline;
    }

    footer{
        text-align: center;
        font-size: 0.8em;
    }

}
