body{
    box-sizing: border-box;
    background-color: #F2F2F2;

}

#header {
    height: 338px;
    display: inline-block;
    width: 100vw;
}

.logo1 {
    width: 100%;  
}

.faixa1{
    height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #0D0D0D;
}

.icone{
    max-width: 23px;
    position: relative;
    top: 5px;
}

.contato{
    position: relative;
    top: 12px;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.content{
    width: 100vw;
}

.faixaDiv{
    height: 15px;
}

.fundom{
    width: 100%;
}

.textop{
    text-align: center;
    height: 260px;
}

.tp{
    position: relative;
    bottom: 260px;
    font-family: 'Dancing Script', cursive;
    font-size: 1.6em; 
    color: #F2F2F2; 
}

.tp2{
    position: relative;
    bottom: 270px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em; 
    color: #F2F2F2; 
    padding: 30px;  
}

#produtos{
    width: 100vw;
}

.faixaDiv{
    width: 100%;
    height: 30px;
}

.faixaDiv2{
    height: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;

}

.c3{
    position: relative;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(173, 20, 20);
    font-weight: bold;
    font-size: 1.2em;
}

img{
    width: 100%;
}

.imgp{
    text-align: center;
}

.pd{
    color: black;
    font-size: 1.2em;
}

figcaption{
    background-color: rgba(189, 164, 26, 0.6);
    margin: 3px auto;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0 0 15px 15px;
    padding: 8px 0 0 0;
}

.click{
    width: 80%;
    text-align: center;
    border-radius: 35px 15px 35px;
    margin: auto;
    position: relative;
    top: 20px;
}


.fixarRodape {
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 20px;
    position: relative;
    top: 80px;
}