body{
  margin: 0;
  padding: 0;
}

#header {
    width: 100vw;
    text-align: center;
    /* background-color: rgb(19, 18, 18); */
}

.logo1 {
    width: 60%;
    margin: 30px auto 0;
    border-radius: 15px 5px;
}

.faixa1{
    width: 70%;
    height: 85px;
    text-align: center;
    margin: auto;
    /* text-transform: uppercase; */
    /* color: #181717; */
    border-radius: 5px;
}

.icone{
    max-width: 23px;
    position: relative;
    top: 5px;
}

.contato{
    position: relative;
    top: 12px;
    font-size: 0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(5, 5, 5);
    font-weight: bold;
}

a{
    text-decoration: none;
}

.content{
    width: 100vw;
    margin: auto;
    text-align: center;
}

.banner2{
    width: 95%;
    border-radius: 10px;
    padding: 2px;
}

.faixaDiv{
    height: 50px;
}

/* .fundom{
    width: 100%;
} */

.textop{
    width: 95%;
    margin: auto;
    text-align: center;
    height: 490px;
    background-color: rgba(230, 201, 126, 0.4);
    padding: 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.tp{
    /* position: relative; */
    /* bottom: 300px; */
    font-family: 'Dancing Script', cursive;
    font-size: 1.8em; 
    color: #000000; 
}

.tp2{
    /* position: relative; */
    bottom: 270px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em; 
    color: #0b0b0b; 
}

#products{
    width: 100vw;
    text-align: center;
}

.pd{
    text-decoration: none;
}

.faixaDiv{
    width: 100%;
    height: 10px;
}

.faixaDiv2{
    height: 100px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;

}

.c3{
    position: relative;
    top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: rgb(173, 20, 20);
    font-weight: bold;
    font-size: 1.1em;
}

.ip{
    text-align: center;
}

.imgp{
    width: 95%;
    border-radius: 5px;
}

.pd{
    color: black;
    font-size: 1.1em;
}

figcaption{
    background-color:rgba(230, 201, 126, 0.4);
    margin: 3px auto;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 0 15px 15px;
    padding: 8px 0 0 0;
}

.click{
    width: 60%;
    text-align: center;
    border-radius: 35px 15px 35px;
    margin: auto;
    position: relative;
    top: 20px;
}


.fixarRodape {
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 20px;
    position: relative;
    top: 80px;
}

#produtosg {
    width: 100vw;
    text-align: center;

}

.voltar {
    text-decoration: none;
    color: black;
}